/*variables*/
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

header {
  display: flex;
  background-color: #ef990e;
  justify-content: space-around;
  align-items: center; }

header div img {
  width: 80%;
  margin: 0; }

.menu ul li {
  color: black;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  position: relative;
  border-radius: 50px; }

.menu ul li:hover {
  background-color: whitesmoke; }

main {
  display: flex;
  justify-content: center; }

.tituloIndex {
  animation-name: tituloIndex;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-timing-function: linear;
  color: #2c2c2c; }

@keyframes tituloIndex {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.8); } }

.tituloIndex:hover {
  color: #ef990e; }

.a:link {
  color: #2c2c2c;
  text-decoration: none; }

span {
  display: flex;
  background-color: #ef990e;
  display: grid;
  grid-template-areas: "uno dos"
 "tres tres";
  grid-template-columns: 1.6fr 0.5fr;
  grid-template-rows: 2fr 0.5fr; }

span .divIndexUno {
  grid-area: uno; }

span .divIndexDos {
  grid-area: dos;
  font-size: 60px;
  color: #2c2c2c;
  padding-top: 100px;
  animation-name: divIndexDos;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear; }

@keyframes divIndexDos {
  from {
    color: white;
    transform: scale(0.5); }
  to {
    color: #2c2c2c;
    transform: scale(1); } }

span .divIndexTres {
  grid-area: tres;
  font-size: 30px;
  color: #2c2c2c;
  padding: 30px; }

footer {
  background-color: #2c2c2c; }

footer h2 {
  color: #ef990e;
  display: flex;
  justify-content: center; }

/* Hoja de estilos de nosotros.html */
.mainNosotros {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "divUno divDos"
 "divTres divCuatro"; }

.divUno {
  background-color: #ef990e;
  color: #2c2c2c;
  grid-area: divUno; }

.parrafoNosotros {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  font-size: 50px; }

.divDos {
  background-color: #ef990e;
  grid-area: divDos; }

.divTres {
  background-color: #ef990e;
  font-size: 30px;
  color: #2c2c2c;
  grid-area: divTres; }

.divCuatro {
  background-color: white; }

.textoNosotros {
  color: #ef990e;
  font-size: 40px;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
  grid-area: divCuatro;
  background-color: #2c2c2c;
  border-radius: 2rem;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
  padding-top: 1.5rem;
  margin-block-end: 1rem; }

.textoNosotrosDos {
  font-size: 1.3rem;
  background-color: #ef990e;
  color: #2c2c2c;
  border-radius: 10rem; }

footer h1 {
  color: #ef990e;
  display: flex;
  justify-content: center; }

/* Hoja de estilos de contacto.html*/
.tituloFormulario {
  color: #ef990e; }

.spanContacto img {
  width: 100%; }

/* Hoja de estilos de servicios.html*/
.tituloServicios {
  text-align: center;
  font-size: 2.3rem;
  animation-name: tituloServicios;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear; }

@keyframes tituloServicios {
  from {
    color: #ef990e;
    transform: scale(0.5);
    border-radius: 1rem;
    background-color: #2c2c2c; }
  to {
    color: #ef990e;
    transform: scale(1);
    border-radius: 1rem;
    background-color: #2c2c2c; } }

.textoServicios {
  font-size: 1.2rem;
  background-color: #2c2c2c; }

.tituloDosServicios {
  color: #ef990e;
  margin-top: 0.8rem;
  border-radius: 1rem;
  align-content: center;
  font-size: 1.5rem; }

.textoServiciosDos {
  font-size: 1.3rem; }

.parrafoServicios {
  color: #2c2c2c;
  background: #ef990e;
  border-radius: 1.2rem;
  font-size: 1.5rem; }

footer h3 {
  color: #ef990e;
  display: flex;
  justify-content: center; }

/* Hoja de estilos de proyectos.html*/
.mainProyectos {
  height: 10vh;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "divUnoProyectos divDosProyectos"
 " divTresProyectos divCuatroProyectos"
 "divCincoProyectos divSeisProyectos"; }

.divUnoProyectos {
  padding-left: 5rem;
  padding-top: 2rem;
  width: 150%;
  height: 300%;
  grid-area: divUnoProyectos; }

.divDosProyectos {
  grid-area: divDosProyectos; }

.divTresProyectos {
  grid-area: divTresProyectos; }

.divCuatroProyectos {
  padding-left: 10rem;
  width: 90%;
  height: 90%;
  grid-area: divCuatroProyectos; }

.divCincoProyectos {
  padding-left: 5rem;
  width: 90%;
  height: 90%;
  grid-area: divCincoProyectos; }

.divSeisProyectos {
  grid-area: divSeisProyectos; }

.parrafoProyectos {
  text-align: center;
  background-color: #2c2c2c;
  border-radius: 0.5rem;
  color: #ef990e;
  margin-top: 4rem;
  padding: 1rem; }

/*media-queries*/
/*mediaq tablet*/
/*mediaq index.html*/
@media screen and (max-width: 600px) {
  header div img {
    width: 5.3rem; }
  .menu ul li {
    font-size: 0.8rem; }
  .tituloIndex {
    font-size: 1.5rem; }
  span {
    height: 100vh; }
  span .divIndexDos {
    font-size: 2rem; }
  span .divIndexTres {
    font-size: 1.5rem; }
  footer h2 {
    font-size: 1.3rem; }
  /*mediaq de contacto.html*/
  .imagenContacto {
    width: 6rem;
    height: 8rem; }
  .spanContacto {
    width: 50rem;
    height: 25rem; }
  footer h1 {
    font-size: 1.3rem; }
  /*mediaq proyectos.html*/
  .divDosProyectos {
    background-color: aqua;
    height: 1rem;
    width: 1rem; }
  .divCuatroProyectos {
    width: 100%;
    height: 100%; }
  .logoProyectos {
    width: 20%;
    height: 20%; }
  /*mediaq servicios.html*/
  .spanServicios {
    height: 100vh; }
  .logoServicios {
    height: 10%;
    width: 10%; }
  .mainServicios {
    width: 10rem;
    height: 10rem;
    display: inline; }
  .mainServicios h1 {
    font-size: 1.2rem; }
  .parrafoServicios {
    color: #2c2c2c;
    font-size: 1.2rem; }
  .parrafoDosServicios {
    color: #2c2c2c;
    font-size: 1.2rem; }
  .parrafoTresServicios {
    color: #2c2c2c;
    font-size: 1.2rem; }
  .tituloServicios {
    color: #2c2c2c;
    font-size: 1.6rem; }
  .tituloDosServicios {
    color: #2c2c2c;
    font-size: 1.6rem; }
  .tituloTresServicios {
    color: #2c2c2c;
    font-size: 1.6rem; } }

/*mediaq de Nosotros.html
    .contenedor {
        display: flex;
        display: grid;
    grid-template-areas: "header header"
                         "divUno divDos"
                         "divTres divCuatro"
                         "footer footer";
    grid-template-columns:2fr 2fr;
    grid-template-rows:1fr;
    }
    header {
        grid-area: header;
    }
    .divUno {
        grid-area: divUno;
    }
    .divDos {
        grid-area: divDos;
    }
    .divTres {
        grid-area: divTres;
    }
    .divCuatro {
        grid-area: divCuatro;
    }
    footer {
        grid-area: footer;
    }
    
}  */
