/*variables*/
footer h2, footer h1, footer h3 {
  display: flex;
  color: #ef990e;
  justify-content: center; }

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

header {
  display: flex;
  background-color: #ef990e;
  justify-content: space-around;
  align-items: center; }

header div img {
  width: 80%;
  margin: 0; }

.menu ul li {
  color: black;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  position: relative;
  border-radius: 50px; }

.menu ul li:hover {
  background-color: whitesmoke; }

main {
  display: flex;
  justify-content: center; }

/*Hoja de estilo index.html*/
.tituloIndex {
  animation-name: tituloIndex;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-timing-function: linear;
  color: #2c2c2c; }

@keyframes tituloIndex {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.8); } }

.tituloIndex:hover {
  color: #ef990e; }

.a:link {
  color: #2c2c2c;
  text-decoration: none; }

span {
  display: flex;
  background-color: #ef990e;
  display: grid;
  grid-template-areas: "uno dos" "tres tres";
  grid-template-columns: 1.6fr 0.5fr;
  grid-template-rows: 2fr 0.5fr; }
  span .divIndexUno {
    grid-area: uno; }
  span .divIndexDos {
    grid-area: dos;
    font-size: 60px;
    color: #2c2c2c;
    padding-top: 100px;
    animation-name: divIndexDos;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear; }

@keyframes divIndexDos {
  from {
    color: white;
    transform: scale(0.5); }
  to {
    color: #2c2c2c;
    transform: scale(1); } }
  span .divIndexTres {
    grid-area: tres;
    font-size: 30px;
    color: #2c2c2c;
    padding: 30px; }

footer {
  background-color: #2c2c2c; }

/* Hoja de estilos de nosotros.html */
.mainNosotros {
  height: 110vh;
  background-color: #ef990e;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "textoNosotros textoNosotros" "imgMain textoNosotrosDos"; }
  .mainNosotros .imgMain {
    grid-area: imgMain;
    width: 10%;
    height: 10%; }
    .mainNosotros .imgMain .imagenPlano {
      border-radius: 8rem; }
  .mainNosotros .textoNosotros {
    width: 75rem;
    height: 10rem;
    grid-area: textoNosotros;
    color: #ef990e;
    background-color: #2c2c2c;
    border-radius: 2rem;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 0.9rem;
    padding-top: 1.5rem;
    margin-block-end: 1rem; }
  .mainNosotros .textoNosotrosDos {
    width: 35rem;
    height: 7rem;
    font-size: 1.3rem;
    border-radius: 2rem;
    background-color: #2c2c2c;
    color: #ef990e;
    text-align: center;
    padding-top: 1.5rem;
    margin-top: 8rem;
    margin-left: 2rem;
    grid-area: textoNosotrosDos; }

/* Hoja de estilos de contacto.html*/
.tituloFormulario {
  color: #ef990e; }

.spanContacto {
  justify-content: center; }
  .spanContacto .imagenDosContacto {
    width: 120%;
    height: 100%;
    border-radius: 3rem;
    margin-left: 3rem;
    margin-top: 3rem; }

/* Hoja de estilos de servicios.html*/
.tituloServicios {
  text-align: center;
  font-size: 2.3rem;
  animation-name: tituloServicios;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear; }

@keyframes tituloServicios {
  from {
    color: #ef990e;
    transform: scale(0.5);
    border-radius: 1rem;
    background-color: #2c2c2c; }
  to {
    color: #ef990e;
    transform: scale(1);
    border-radius: 1rem;
    background-color: #2c2c2c; } }

.mainServicios {
  justify-content: space-between;
  background-color: #ef990e;
  width: 200%; }

.sectionServicios {
  background-color: #ef990e; }

.textoServicios {
  font-size: 1.2rem;
  background-color: #2c2c2c; }

.tituloDosServicios {
  color: #2c2c2c;
  margin-top: 0.8rem;
  border-radius: 1rem;
  align-content: center;
  font-size: 1.5rem; }

.textoServiciosDos {
  font-size: 1.3rem; }

.parrafoServicios {
  color: #2c2c2c;
  background: #ef990e;
  border-radius: 1.2rem;
  font-size: 1.5rem; }

/* Hoja de estilos de proyectos.html*/
.mainProyectos {
  height: 10vh;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "divUnoProyectos divDosProyectos" " divTresProyectos divCuatroProyectos" "divCincoProyectos divSeisProyectos"; }
  .mainProyectos .divUnoProyectos {
    padding-left: 5rem;
    padding-top: 2rem;
    width: 150%;
    height: 300%;
    grid-area: divUnoProyectos; }
  .mainProyectos .divDosProyectos {
    grid-area: divDosProyectos; }
  .mainProyectos .divTresProyectos {
    grid-area: divTresProyectos; }
  .mainProyectos .divCuatroProyectos {
    padding-left: 10rem;
    width: 90%;
    height: 90%;
    grid-area: divCuatroProyectos; }
  .mainProyectos .divCincoProyectos {
    padding-left: 5rem;
    width: 90%;
    height: 90%;
    grid-area: divCincoProyectos; }
  .mainProyectos .divSeisProyectos {
    grid-area: divSeisProyectos; }

.parrafoProyectos {
  text-align: center;
  background-color: #2c2c2c;
  border-radius: 0.5rem;
  color: #ef990e;
  margin-top: 4rem;
  padding: 1rem; }

/*media-queries*/
/*mediaq tablet*/
@media screen and (max-width: 600px) {
  header div img {
    width: 5.3rem; }
  .menu ul li {
    font-size: 0.8rem; }
  /*mediaq de index. html*/
  .tituloIndex {
    font-size: 1rem;
    animation-name: tituloIndex;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function: linear; }
  @keyframes tituloIndex {
    from {
      transform: scale(0.7); }
    to {
      transform: scale(1); } }
  span {
    height: 100vh; }
  span .divIndexUno img {
    height: 80%;
    width: 90%; }
  span .divIndexDos {
    font-size: 2rem; }
  span .divIndexTres {
    font-size: 0.9rem; }
  footer h2 {
    font-size: 1.3rem; }
  /*mediaq de contacto.html*/
  .imagenContacto {
    width: 6rem;
    height: 8rem; }
  .imagenDosContacto {
    width: 20%;
    height: 30%;
    padding-right: 2rem; }
  footer h1 {
    font-size: 1.3rem; }
  /*mediaq proyectos.html*/
  .logoProyectos {
    width: 5.3rem; }
  .mainProyectos {
    height: 10vh; }
  .divUnoProyectos img {
    width: 40%;
    height: 30%;
    margin-right: 0%; }
  .divDosProyectos {
    margin-right: 4rem;
    width: 15rem; }
  .divCuatroProyectos {
    margin-top: 2rem; }
  .divCuatroProyectos img {
    width: 40%;
    height: 30%;
    margin-left: 0%;
    margin-right: 20rem;
    padding-top: 2rem;
    padding-right: 5rem;
    padding-left: 0%; }
  .divTresProyectos {
    width: 15rem;
    margin-left: 2rem;
    margin-top: 0%; }
  .divCincoProyectos {
    width: 15rem;
    margin-left: 0%;
    margin-right: 2rem;
    margin-top: 2rem; }
  .divCincoProyectos img {
    width: 120%;
    height: 110%;
    margin-right: 2rem; }
  .parrafoProyectos {
    font-size: 0.8rem; }
  .divCuatroProyectos {
    width: 100%;
    height: 100%; }
  .divSeisProyectos {
    margin-left: 4rem;
    width: 15rem; }
  /*mediaq servicios.html*/
  .spanServicios {
    height: 100vh; }
  .logoServicios {
    height: 10%;
    width: 10%; }
  .mainServicios {
    width: 10rem;
    height: 10rem;
    display: inline; }
  .mainServicios h1 {
    font-size: 1.2rem; }
  .parrafoServicios {
    color: #2c2c2c;
    font-size: 1.1rem; }
  .tituloServicios {
    color: #2c2c2c;
    font-size: 1.6rem; }
  .tituloDosServicios {
    color: #2c2c2c;
    font-size: 1rem; }
  .tituloTresServicios {
    color: #2c2c2c;
    font-size: 1.6rem; }
  /*mediaq nosotros.html*/
  .imgNosotros {
    width: 5.3rem; }
  .mainNosotros {
    flex-direction: column; }
    .mainNosotros .imgMain {
      width: 20rem;
      height: 7rem; }
      .mainNosotros .imgMain .imagenPlano {
        width: 100%;
        height: 250%; }
    .mainNosotros .textoNosotros {
      font-size: 1rem;
      width: 35rem;
      height: 10rem; }
    .mainNosotros .textoNosotrosDos {
      font-size: 1rem;
      width: 14rem;
      height: 7rem; }
  /*mediaq celular horizontal*/ }

@media screen and (max-width: 600px) and (max-width: 320px) {
  header {
    flex-direction: column; }
  header div img {
    width: 3.5rem; }
  .menu ul li {
    font-size: 0.4rem; }
  /*mediaq de index.html*/
  .tituloIndex {
    font-size: 0.8rem;
    animation-name: tituloIndex;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear; }
  @keyframes tituloIndex {
    from {
      transform: scale(0.8); }
    to {
      transform: scale(1); } }
  span {
    height: 85vh; }
  span .divIndexUno img {
    height: 125%;
    width: 132%; }
  span .divIndexDos {
    font-size: 1rem;
    display: none; }
  span .divIndexTres {
    display: none; }
  footer h2 {
    font-size: 0.7rem; }
  /*mediaq de contacto.html*/
  .imagenContacto {
    width: 20%;
    height: 20%; }
  .tituloFormulario {
    font-size: 0.7rem; }
  .nombreFormulario {
    font-size: 0.7rem; }
  .emailFormulario {
    font-size: 0.7rem; }
  .botonEnviar {
    font-size: 0.6rem; }
  .botonBorrar {
    font-size: 0.6rem; }
  .imagenDosContacto {
    width: 140%;
    height: 90%;
    border-radius: none;
    margin-left: 0%; }
  .footerContacto {
    font-size: 0.7rem; }
  /*mediaq de nosotros.html*/
  .imgNosotros {
    width: 3.5rem; }
  .mainNosotros {
    height: 90vh;
    flex-direction: column;
    display: grid;
    grid-template-areas: "imgMain" "textoNosotrosDos"; }
    .mainNosotros .imgMain {
      margin-top: 0%;
      grid-area: imgMain; }
      .mainNosotros .imgMain .imagenPlano {
        width: 70%;
        height: 300%;
        border-radius: 1%;
        padding-left: 4rem; }
    .mainNosotros .textoNosotros {
      display: none; }
    .mainNosotros .textoNosotrosDos {
      font-size: 0.8rem;
      grid-area: textoNosotrosDos; }
  footer h1 {
    font-size: 0.7rem; }
  /*mediaq de servicios.html*/
  .logoServicios {
    width: 3.5rem; }
  .sectionServicios {
    background-color: #ef990e; }
  .columnMobile {
    flex-direction: column;
    background-color: #ef990e;
    width: 19.5rem; }
  .tituloServicios {
    font-size: 0.9rem; }
  .tituloDosServicios {
    width: 10rem;
    height: 8rem;
    font-size: 0.8rem;
    color: #ef990e;
    background-color: #2c2c2c;
    margin-left: 6rem;
    border-radius: 0.5rem;
    text-align: center;
    padding-top: 2rem; }
  .parrafoServicios {
    display: none; }
  /*mediaq de proyectos.html*/
  .mainProyectos {
    display: flex;
    display: grid;
    grid-template-areas: "dos" "uno" "tres" "cuatro" "seis" "cinco";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    .mainProyectos .divUnoProyectos {
      grid-area: uno;
      align-items: center; }
    .mainProyectos .divDosProyectos {
      align-items: center;
      grid-area: dos;
      margin-left: 4rem; }
    .mainProyectos .divTresProyectos {
      grid-area: tres;
      align-items: center;
      margin-left: 4rem; }
    .mainProyectos .divCuatroProyectos {
      grid-area: cuatro;
      align-items: center;
      width: 15rem;
      padding-left: 25%;
      height: 10rem; }
      .mainProyectos .divCuatroProyectos .divCuatroProyectos img {
        width: 1rem;
        height: 1rem; }
    .mainProyectos .divCincoProyectos {
      align-items: center;
      grid-area: cinco;
      width: 70%; }
    .mainProyectos .divSeisProyectos {
      align-items: center;
      grid-area: seis; }
  .parrafoProyectos {
    font-size: 0.4rem; } }
